{
  "extends": [
    "standard",
    "plugin:es5/no-es2015",
    "plugin:es5/no-es2016"
  ],
  "env": {
    "browser": true
  },
  "plugins": ["compat"],
  "rules": {
    "compat/compat": "error"
  }
}
