<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/" property="article:author">
{% endif %}

{% if page.image %}
  <meta content="{{ site.url }}{{ page.image }}" property="og:image">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}" property="og:description">
{% endif %}
